#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Espacador {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Text_header_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Three-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Picture_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Three-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Picture_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Three-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Picture_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Three-line-item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Picture_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Three-line-item_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Picture_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Three-line-item_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Picture_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Three-line-item_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Picture_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Three-line-item_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Picture_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Three-line-item_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 #s-Picture_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
#s-3cd90d1f-c974-4309-ad20-6184e88a3222 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}