#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Label_47 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Text_header_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-radio-button-off-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-radio-button-off-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Button_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Notificacao_toast {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}