#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Label_46 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Label_47 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Conteudo_da_pagina > .valign {
  vertical-align: top;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Text_header_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-radio-button-off-light {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-radio-button-off-light_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Espacador_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Button_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Button_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Notificacao_toast {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
#s-7bf95b9c-1e56-4060-a581-2a403dc13490 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}