#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Label_46 {
  -ms-transform: rotate(0.0deg);
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Label_47 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Conteudo_da_pagina > .valign {
  vertical-align: top;
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Rectangle_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Rectangle_4 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Rectangle_5 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Rectangle_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7cda9d9a-2410-47b7-83b0-5b4eb20a1b4b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}