#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Label_46 {
  -ms-transform: rotate(0.0deg);
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Label_47 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Conteudo_da_pagina > .valign {
  vertical-align: top;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Rectangle_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Rectangle_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}