#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Label_47 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bd9450c0-a01a-4e49-9523-7a32e3247644 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}