#t-65d019f9-47d2-481a-aa2f-dde3d981d25e #t-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-65d019f9-47d2-481a-aa2f-dde3d981d25e #t-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-65d019f9-47d2-481a-aa2f-dde3d981d25e #t-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-65d019f9-47d2-481a-aa2f-dde3d981d25e #t-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-65d019f9-47d2-481a-aa2f-dde3d981d25e #t-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-65d019f9-47d2-481a-aa2f-dde3d981d25e #t-Botao_atualizar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-65d019f9-47d2-481a-aa2f-dde3d981d25e #t-Botao_opcoes {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-65d019f9-47d2-481a-aa2f-dde3d981d25e #t-Botao_hamburger_aberto {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-65d019f9-47d2-481a-aa2f-dde3d981d25e #t-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-65d019f9-47d2-481a-aa2f-dde3d981d25e #t-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-65d019f9-47d2-481a-aa2f-dde3d981d25e #t-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-65d019f9-47d2-481a-aa2f-dde3d981d25e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}