#t-f39803f7-df02-4169-93eb-7547fb8c961a > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Horizontal-softkeys {
  position: absolute;
  top: 592px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_19 span#rtr-t-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_23 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_24 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Mapa_MyCar {
  position: absolute;
  top: 79px;
  left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_mapa {
  width: 360px;
  height: 514px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: auto;
  overflow-y: auto;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_mapa .verticalalign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 681px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Title-bar-color_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Titulo {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 34px;
  padding-left: 73px;
  width: 287px;
  height: 46px;
  background-color: #009688;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Titulo .valign {
  vertical-align: top;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Titulo span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Titulo span#rtr-t-Titulo_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_atualizar {
  position: absolute;
  top: 35px;
  left: 294px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_atualizar .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_atualizar span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_atualizar span#rtr-t-Botao_atualizar_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_opcoes {
  position: absolute;
  top: 35px;
  left: 325px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_opcoes .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_opcoes span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_opcoes span#rtr-t-Botao_opcoes_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_hamburger_aberto {
  position: absolute;
  top: 36px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_hamburger_aberto .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_hamburger_aberto span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_hamburger_aberto span#rtr-t-Botao_hamburger_aberto_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_hamburger {
  position: absolute;
  top: 36px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_hamburger .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_hamburger span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Botao_hamburger span#rtr-t-Botao_hamburger_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_2 span#rtr-t-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Panel_4 .verticalalign {
  vertical-align: top;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_30 span#rtr-t-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}